button {
  border-radius: 5px;
  background: transparent;
  border: 2px solid black;
  padding: 10px, 30px;
  width: 100px;
  height: 30px;
}

h1 {
  padding-bottom: 20px;
  border-bottom: 3px solid green;
}
